@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(img/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.form-name {
  margin-bottom: 35px;
  text-align: center;
  font-family: "Titillium Web", sans-serif;
  font-size: 32px;
  font-weight: 500;
  text-shadow: 1px 1.7px 2px rgba(43, 1, 0, 0.75);
  color: #fff;
}

.form-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 380px;
  height: 420px;
  border-radius: 3px;
  background-color: #f7f7f7;
}

.form-content::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% + 40px);
  height: calc(100% + 40px);
  border-radius: 3px;
  background-color: rgba(00, 00, 00, 0.23);
  z-index: -1;
}

.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  background-color: transparent;
}

.select-container {
  position: relative;
  width: 80%;
  height: 100%;
  z-index: 0;
}

.select-container::after {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-25%);
  right: 5px;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-color: #dedede transparent transparent transparent;
  z-index: -1;
}

.select:focus {
  position: absolute;
  top: -5px;
  right: -12px;
  width: 339px;
  height: 39px;
  border-radius: 3px;
  padding-left: 30%;
  box-shadow: 0 0 3pt 2pt rgba(58, 154, 0, 0.5);
}

@media only screen and (max-width: 600px) {
  .form-content {
    margin: 0 auto;
    width: 250px;
  }

  .select:focus {
    right: -9px;
    width: 224px;
    padding-left: 34.3%;
  }
}
